.login-form-mask,
.regist-form-mask {
	z-index: 9998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
	filter: alpha(opacity=40);
	display: none
}

.login-form,
.regist-form {
	z-index: 9999;
	/*position: fixed;
top: 40%;
left: 55%;
width: 500px;
height: 500px;*/
	margin: -180px 0 0 -330px;
	border-radius: 5px;
	border: solid 2px #666;
	background-color: #fff;
	display: none;
	box-shadow: 0 0 10px #666;
}

.login-close {
	margin-right: 15px;
}

.login-form,
.regist-form {
	width: 500px;
	height: 350px;
	top: 340px;
	left: 55%;
	/*margin: 0 auto;*/
	position: relative;
	background-color: ghostwhite;
}

form {
	margin-top: 10px;
}

.close {
	font-size: 35px;
	color: gainsboro;
	position: absolute;
	right: 5px;
}

.loginlabel {
	font-size: 25px;
	color: rgba(0, 0, 0, 0.8);
	padding-top: 35px;
	text-align: center;
}

label {
	color: rgba(0, 0, 0, 0.8);
	margin-left: 3px;
}

label,
.register-btn,
.btn,
.submit {
	font-size: 18px;
}

.register-btn,
.btn {
	width: 100px;
	height: 35px;
	background-color: lightblue;
	color: white;
}

.input,
.form-group {
	text-align: center;
}

.input label{
	width: 78px;
	display: inline-block;
	text-align: right;
}

.input input {
	width: 300px;
	height: 30px;
	outline: none;
	border: 1px solid gainsboro;
	padding: 3px 5px;
	margin: 10px 0;
}

.register-btn {
	display: inline-block;
	text-align: center;
	line-height: 35px;
	box-shadow: 3px 3px 0 gainsboro;
	position: absolute;
	left: 305px;
	top: 240px;
}

.btn {
	position: absolute;
	left: 135px;
	top: 240px;
	box-shadow: 3px 3px 0 gainsboro;
	border: none;
}

.btn:hover,
.submit:hover,
.register-btn:hover {
	/*border: 1px solid #0A5094;*/
	color: #0090FF;
	box-shadow: -3px -3px 0 gainsboro;
}

/*.uname,
.upwd {
	width: 300px;
	height: 30px;
	margin: 5px;
}*/

.uname {
	/*margin-left: 20px;*/
}

.upwd {
	/*margin-left: 38px;*/
}

a {
	text-decoration: none;
}


/*注册*/

#regist {
	height: 420px;
}

.submit {
	box-shadow: 3px 3px 0 gainsboro;
	border: none;
	width: 100px;
	height: 35px;
	background-color: lightblue;
	color: white;
	margin-top: 10px;
	position: absolute;
	bottom: 10px;
	left: 232.5px;
}

/*.truepw {
	margin-top: 5px;
	padding-left: 3px;
}*/

.email {
	/*margin: 5px 10px 5px 35px;*/
}



.onError {
	color: red;
}

.onSuccess {
	color: green;
}

.formtips {
	display: block;
}

.yh a {
	font-size: 15px;
}

.yh img {
	border-radius: 50%;
	margin-left: 10px;
}

.yh {
display: none;

}


/*.dlzc{
	display: none !important;
}*/

