*{
	margin:0;
  padding:0;
  list-style:none;
  font-size:12px;}
#notice{
	margin-top:50px ;
	margin-bottom: 25px;
}
.notice{
	
	width:1200px;
        height:500px;
        margin:10px;
        border:2px solid #eee;
        overflow:hidden;
        /*padding: 5px 10px 20px 5px;*/
        margin: 0 auto;}
.notice-content{
	
}
.notice-select{
	/*float: left;*/
	/*width:150px;*/
  height:84px;
  line-height: 42px;
  margin-right: 5px;
}
.notice-tit{
	/*float: left;*/
	height:84px;
            position:relative;
            background:#F7F7F7;}

.notice-tit ul{position:absolute;
               /*width:301px;*/
               left:-1px;}

.notice-tit li{float:left;
               width:130px;
               height:84px;
               line-height:84px;
               text-align:center;
               overflow:hidden;
               background:#FFF;
               padding:0 1px;
               background:#F7F7F7;
               border-bottom:1px solid #eee;}

.notice-tit li.select{background:#FFF;
                      border-bottom-color:#FFF;
                      border-left:1px solid #eee;
                      border-right:1px solid #eee;
                      padding:0;
                      font-weight:bolder;}

.notice li a:link,.notice li a:visited{text-decoration:none;
                                               color:#000;}

.notice li a:hover{color:#F90;}

.notice-con .mod{margin:10px 6px;height: 300px;}

.notice-con .mod ul li{float:left;
                       width:143px;
                       height:300px;
                       overflow:hidden;}

.notice ul li a{
	font-size: 18px;
}
.notice ul li input{
	/*text-decoration: none;*/
	/*width: 100%;
	height: 100%;*/
	background:none;    
    outline:none;    
    border:0px; 
	font-size: 18px;
}
.table{
	width: 100%;
	text-align: center;
	margin-left: -150px;
}
.table td{
	padding: 10px;
	font-size: 16px;
}
.table td:hover{
	color: #f90;
}
