a:link {
	text-decoration: none;
	color:#000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}


body,div,p,ul{
margin:0px;
padding:0px;
list-style:none;
}

#top{
background:#259FC8;
width:1320px;
height:85px;
margin:0 auto;
position:relative;
}

#logo{
position:absolute;
top:7px;
left:140px;
}

#topword{
position:absolute;
top:44px;
left:500px;
color:#FFFFFF;
}

#yellow{
color:yellow;
}
#input{
position:absolute;
left:1000px;
top:43px;
}

#button{
position:absolute;
left:1141px;
top:42px;
background-color:#0000FF;
width:40px;
height:20px;
}

#neiwang{
color:#FFFF99;
}

#projectbj{
	position:absolute;
	left:25px;
	background:#DDE3E4;
	width:1220px;
	height:80px;
	top:85px;
}

#projectword{
position:absolute;
color:#000000;
font-family:inherit;
font-size:16px;
top:16px;
left:113px;
}

#institutions{
position:absolute;
left:998px;
top:15px;
}

#write{
color:#FFFFFF;
}

#date{
position:absolute;
top:513px;
left:215px;
}

#year{
position:absolute;
top:506px;
left:136px
}

#lunbo{
position:absolute;
top:60px;
left:0px;
list-style:none; 
}

#lunbo ul li:not(:first-child){
display: none;
}


#news{
position:absolute;
top:568px;
left:71px;
}

#news-left{
margin:30px;
width:285px;
height:430px;
background:#FFFFFF;
float:left;

}

#news-middle{
margin:30px;
width:310px;
height:430px;
float:left;
}

#middle{
margin:50px 0px 0px 0px;
}

#news-middle-link{
font-size:15px;
color:#259FC8;
font-weight:bold;
}

.middle-more{
position:absolute;
top:40px;
left:650px;
font-size:14px;
}

#news-right{
margin:30px;
width:350px;
height:430px;
float:right;
}

.news-right-headline{
font-size:24px;
font-weight:bold;
}

#news-right-headline-littlewords{
font-size:14px;
font-weight:bold;
}

#news-right-headline-littlewords-link{
color:#FFFFFF;
margin:5px 0px 10px 5px;
background-color:#259FC8;
}

.right-more{
position:absolute;
top:45px;
left:1000px;
color:#666666;
font-size:14px;
}

#more-link{
color:#666666;
}

.news-right-content{
margin-top:20px;
}

#news-right-content-link{
color:#259FC8;
font-size:15px;
font-weight:bold;
}

.news-right-content-slip{
margin-top:18px;
}

#news-left-headline{
font-size:24px;
font-weight:bold;
}

#news-left-pic{
position:absolute;
top:83px;
}


#news-left-words1{
position:relative;
top:195px;
left:4px;
}

#news-left-words1-link{
color:#259FC8;
font-weight:bold;
}

#news-left-words2{
position:relative;
top:202px;
left:4px;
font-size:14px;
}

.news-middle-news-content{
margin-bottom:22px;
}

#line1{
position:relative;
top:880px;
width:1100px;
color:#F6F4F5;
}

#picture{
position:absolute;
top:985px;
left:100px;
}

.picture-headline-words1,.picture-headline-words2{
color:#666666;
}

#picture-headline-words{
position:absolute;
left:570px;
top:15px;
font-size:15px;
}

.picture-headline-upload{
position:absolute;
top:15px;
left:968px;
}

#picture-left{
position:relative;
margin:20px 5px 0px 0px;
width:430px;
height:530px;
float:left;
}

.picture-left-pic{
margin:8px 10px 0px 0px;
}

.picture-middle-pic{
margin:0px 10px 10px 0px;
}

.picture-right-pic{
margin:0px 8px 8px 0px;
}
#picture-middle{
position:relative;
margin:20px 5px 0px 0px;
width:430px;
height:530px;
float:left;
}

#picture-right{
position:relative;
margin:20px 5px 0px 0px;
width:200px;
height:530px;
float:right;
}

#line2{
position:relative;
top:1450px;
width:1100px;
color:#F6F4F5;
}

#service-words{
font-size:24px;
position:absolute;
top:350px;
left:0px;
}

#service{
position:relative;
top:1120px;
left:100px;
}

#service-slip{
position:absolute;
top:400px;
left:0px;
width:1080px;
height:80px;
background:#F6F4F5;
}

#bottom{
position:absolute;
top:1740px;
}

.menu
{
background-color:#F6F4F5;
color:#666666;

}
.menu:hover
{
color:#666666;
background-color:#4CC2EA;
}

.menu-words{
margin:6px 13px 6px 13px;
font-size:16px;
}

#bottom-item-words{
position:absolute;
top:20px;
left:40px;
}

#table{
position:absolute;
top:270px;
left:25px;

}

#table-words{
font-size:18px;
}

/* CSS Document */
